<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/api/review/all">All My Reviews</a>
          <a class="nav-link" href="/api/review/all-reviews">All Reviews</a>
          <!-- <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Features</a>
           <a class="nav-link" href="#">Features</a> -->
          <form class="d-flex" action="/dashboard/search" role="search" method="POST" >
            <input class="form-control me-2" type="text" name="book" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" for="book" type="submit">Search</button>
          </form>
        </div>
      </nav>
</body>