
/* Navbar Styles */

.my-head {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 32px;
}

.my-nav {
    color: orangered;
    
}

/* Universal Styles */

.my-hero {
    font-size: 60px;
    margin-top: 1%;
}
